ALLOWED_HOSTS=fungalmaterials.com,www.fungalmaterials.com
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

DB_ENGINE = 'django.db.backends.postgresql'
DB_NAME = 'fungalmaterials_prod'
DB_USER = 'fungalmaterials_prod'
DB_HOST = 'localhost'
