{% extends 'main/base.html'%}
{% block content %}
{% load static %}

<style>
	
</style>

<title>Articles | Fungalmaterials</title>

<meta name="description" content="A curated list of fungal material references">

<div class="row" style="margin-bottom: 10px;">
	<div class="col-12">
        <h4>Articles</h4>
    </div>
</div>

<!-- SEARCH -->
<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-8">
    <input id="searchbar" type="text" name="search" placeholder="Search for keyword.." value="">
  </div>
</div>

<!-- GREY BAR -->
<div id=grey-bar></div>

<!-- DATATABLE -->
<div>
	<p>DataTable</p>
</div>


{% endblock %}