{% extends 'main/base.html'%}
{% block content %}
{% load static %}
{% load custom_filters %}

<style>
    h3 {
        font-weight: 600;
    }
    h5 {
        border-bottom: 2px solid #d5d5d5;
        padding-bottom: 8px;
        font-weight: 600;
    }
</style>

<title>Article info | Fungalmaterials</title>

<meta name="description" content="Database of fungal material references">

<div class="row" style="margin-bottom: 10px;">
	<div class="col-12">

        <p class="text-secondary">
        Article 
        &nbsp;|&nbsp; 
        Published:
        {% if article.day %}
            {{ article.day }}
        {% endif %}
        {% if article.month %}
            {{ article.get_month_name }}
        {% endif %}
        {% if article.year %}
            {{ article.year }}
        {% endif %}

        {% if article.journal %}
             &nbsp;|&nbsp; {{ article.journal|capfirst }}
        {% endif %}
        </p>

        <h3>{{ article.title }} </h3>

        <br>

        {% if article.authors.all %}
            {% for author in article.authors.all %}
                {{ author.name }}{% if not forloop.last %}; {% endif %}
            {% endfor %}
            <br>
        {% else %}
            No authors available.
            <br>
        {% endif %}

        <br>
        
        <h5>Abstract</h5>

        <br>

        {% if sorted_species %}
        <h5>Species</h5>
            <ul class="list-group" style="font-size: 14px; max-width: 250px;">
                {% for species in sorted_species %}
                    <li class="list-group-item"><i>{{ species.name }}</i></li>
                {% endfor %}
            </ul>
        <br>
        {% endif %}

        <h5>Substrates</h5>

        <br>

        {% if sorted_material_properties %}
        <h5>Material properties</h5>
            <table class="table table-bordered table-hover" style="font-size: 14px; width: 100%;">
                <thead>
                    <tr class="table-light">
                        <th>Species</th>
                        <th>Treatment</th>
                        <th>Substrate</th>
                        {% for property, unit in sorted_material_properties %}
                            <th>{{ property }} ({{ unit }})</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for species, treatments in data.items %}
                        {% for treatment, substrates in treatments.items %}
                            {% for substrate, properties in substrates.items %}
                                <tr>
                                    <td><i>{{ species }}</i></td>
                                    <td>{{ treatment|default:"-" }}</td>
                                    <td>{{ substrate }}</td>
                                    {% for property, unit in sorted_material_properties %}
                                        <td>{{ properties|get_item:property|default:"-" }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <br>

        {% if article.doi %}
            DOI: {{ article.doi }}
            <br>
        {% endif %}

        [Topic] 
        {% if article.topic.all %}
            {% for topic in article.topic.all %}
                <span class="badge rounded-pill bg-secondary">{{ topic.name }}</span>
            {% endfor %}
            <br>
        {% endif %}
        
        [Method]
        {% if article.method.all %}
            {% for method in article.method.all %}
                <span class="badge rounded-pill bg-{{ method.name }}">{{ method.name }}</span>
            {% endfor %}
            <br>
        {% endif %}

        <br>
        <br>
        <br>

    </div>
</div>

{% endblock %}
