{% extends 'main/base.html'%}
{% block content %}
{% load static %}

<style>
	
</style>

<title>Article info | Fungalmaterials</title>

<meta name="description" content="Database of fungal material references">

<div class="row" style="margin-bottom: 10px;">
	<div class="col-12">

        <p class="text-secondary">
        Article 
        &nbsp;|&nbsp; 
        Published:
        {% if article.day %}
            {{ article.day }}
        {% endif %}
        {% if article.month %}
            {{ article.get_month_name }}
        {% endif %}
        {% if article.year %}
            {{ article.year }}
        {% endif %}

        {% if article.journal %}
             &nbsp;|&nbsp; {{ article.journal|capfirst }}
        {% endif %}
        </p>

        <h3>{{ article.title }} </h3>

        <br>

        <p>
        {% if article.authors.all %}
            {% for author in article.authors.all %}
                {{ author.name }}{% if not forloop.last %}; {% endif %}
            {% endfor %}
        {% else %}
            No authors available.
        {% endif %}

        <br>
        <br>

        {% if article.doi %}
            DOI: {{ article.doi }}
        {% endif %}

        <br>
        
        <br> [Abstract]
        <br> [Topic] 
        {% if article.topic.all %}
            {% for topic in article.topic.all %}
                <span class="badge rounded-pill bg-secondary">{{ topic.name }}</span>
            {% endfor %}
        {% endif %}
        
        <br> [Method]
        {% if article.method.all %}
            {% for method in article.method.all %}
                <span class="badge rounded-pill bg-{{ method.name }}">{{ method.name }}</span>
            {% endfor %}
        {% endif %}

        <br> [Species]
        {% if sorted_species %}
            <ul class="list-group" style="max-width: 300px;">
                {% for species in sorted_species %}
                    <li class="list-group-item"><i>{{ species.name }}</i></li>
                {% endfor %}
            </ul>
        {% endif %}

        <br> [Substrates]

        <br> [Material properties]

        <br> [Treatment]

        <br> [Overview table]

        <br>
        <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Species</th>
                        <th scope="col">Treatment</th>
                        <!-- Loop through distinct properties to create table headers dynamically -->
                        {% for x in distinct_properties %}
                        <th scope="col">{{ x }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop over distinct treatments -->
                    {% for treatment in distinct_treatments %}
                    <tr>
                        <!-- For each treatment, display the species (assuming one species per treatment) -->
                        <td>
                            {% for material_property in article.materialproperty_set.all %}
                                {% if material_property.treatment == treatment %}
                                    {{ material_property.species.name }}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td>{{ treatment }}</td>

                        <!-- For each treatment, display values for all properties -->
                        {% for x in distinct_properties %}
                        <td>
                            {% for material_property in article.materialproperty_set.all %}
                                {% if material_property.treatment == treatment and material_property.material_property.name == x %}
                                    {{ material_property.value }} {{ material_property.unit.symbol }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </p>

        <br>
        <br>
        <br>
        <br>

    </div>
</div>

{% endblock %}