{% extends 'fungalmaterials/base.html' %}
{% block content %}
{% load static %}

<style>
	#about-container {
    	text-align: justify;
    	margin: auto;
  	}
	/* For screens below 540px */
	@media screen and (max-width: 540px) {
		#about-container {
	      	max-width: 650px;
	    }
	    .column-container span {
	      	width: 100%;
	    }
	}
	/* For screens between 541px and 992px */
	@media screen and (min-width: 541px) and (max-width: 992px) {
	    #about-container {
	      	max-width: 650px;
	    }
	    .column-container span {
	      	width: 50%;
	    }
	}
	/* For screens above 992px */
	@media screen and (min-width: 992px) {
	    #about-container {
	      	max-width: 800px;
	    }
	    .column-container span {
	      	width: 33.33%;
	    }
	}
	#about-container a {
	    color: var(--text);
	    text-decoration: none;
	}
	h4 {
    	text-align: center;
  	}
  	#contact-box {
	    background-color: #f5f5f5;
	    padding: 12px;
	    border-radius: 15px;
	    text-align: center;
	    max-width: 275px;
	    margin: 0 auto;
  	}
</style>

<title>About | Fungalmaterials</title>

<meta name="description" content="Database of fungal material references">

<div id="about-container">

<!-- Text -->
<h4>Description</h4>
<p>
Fungalmaterials is a collaborative database for fungal material references. This database is an extension of the review <i><a href="https://doi.org/10.1186/s40694-022-00134-x">Risk assessment of fungal materials</a></i>, published in 2022.
</p>

<div id="contact-box" class="shadow-sm">
    <i class="bi bi-envelope" style="font-size: 1.15rem;"> </i> j.g.vandenbrandhof@uu.nl
</div>
<br>
<div id="contact-box" class="shadow-sm">
    <i class="bi bi-github" style="font-size: 1rem;"> </i><a href="https://github.com/Realitijd/Fungalmaterials">Fungalmaterials</a>
</div>

<br>
<br>

<section id="material">
	<h4>Fungal materials</h4>
	<p>
	[Pure mycelium & composite mycelium]
	<br>
	[Growth methods]
	<br>
	<span class="badge rounded-pill bg-FB">FB</span>
	<span class="badge rounded-pill bg-LSF">LSF</span>
	<span class="badge rounded-pill bg-SSF">SSF</span>
	<br>
	[Topics]
	<br>
	<span class="badge rounded-pill bg-secondary">Pure</span>
	<span class="badge rounded-pill bg-secondary">Composite</span>
	<span class="badge rounded-pill bg-secondary">Nanopaper</span>
	<span class="badge rounded-pill bg-secondary">3D</span>
	<span class="badge rounded-pill bg-secondary">Amadou</span>
	<span class="badge rounded-pill bg-secondary">Living</span>
	<span class="badge rounded-pill bg-secondary">Electrical</span>
	</p>
</section>

</div>

{% endblock %}