{% extends 'fungalmaterials/base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}

<style>
    h3 {
        font-weight: 600;
    }
    h5 {
        border-bottom: 2px solid #d5d5d5;
        padding-bottom: 8px;
        font-weight: 600;
    }
    #table_id thead tr th {
        padding: 8px;
        padding-left: 12px;
    }
</style>

<title>Article info | Fungalmaterials</title>

<meta name="description" content="Database of fungal material references">

<div class="row" style="margin-bottom: 10px;">
	<div class="col-12">

        <p class="text-secondary">
        Article 
        &nbsp;|&nbsp; 
        Published:
        {% if article.day %}
            {{ article.day }}
        {% endif %}
        {% if article.month %}
            {{ article.get_month_name }}
        {% endif %}
        {% if article.year %}
            {{ article.year }}
        {% endif %}

        {% if article.journal %}
             &nbsp;|&nbsp; {{ article.journal|capfirst }}
        {% endif %}
        </p>

        <h3>{{ article.title }} </h3>

        <br>

        <!-- Authors -->
        {% if article.authors.all %}
            {% if first_author %}
                {{ first_author.name }} {{ first_author.family }}{% if not forloop.last %}, {% endif %}
            {% endif %}

            {% for author in other_authors %}
                {{ author.name }} {{ author.family }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            
            <br>
            <br>
            <br>
        {% else %}
            <i>No authors available</i>
            <br>
            <br>
            <br>
        {% endif %}
        
        
        <!-- Abstract -->
        {% if article.abstract %}
            <h5>Abstract</h5>
            <div style="text-align: justify;">
            {{ article.abstract }}
            </div>
            <br>
            <br>
        {% endif %}
        

        <!-- Material properties -->
        {% if sorted_material_properties %}
        <h5>Material properties</h5>
            <table id="table_id" style="font-size: 14px; width: 100%;">
                <thead>
                    <tr>
                        <th>Species</th>
                        <th>Substrate</th>
                        <th>Treatment</th>
                        {% for property, unit in sorted_material_properties %}
                            <th>{{ property }} ({{ unit }})</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for species, treatments in data.items %}
                        {% for treatment, substrates in treatments.items %}
                            {% for substrate, properties in substrates.items %}
                                <tr>
                                    <td><i>{{ species }}</i></td>
                                    <td>{{ substrate }}</td>
                                    <td>{{ treatment|default:"-" }}</td>
                                    {% for property, unit in sorted_material_properties %}
                                        <td>{{ properties|get_item:property|default:"-" }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        <br>
        <br>
        {% else %}
            <!-- Species -->
            {% if sorted_species %}
            <h5>Species</h5>
                <ul class="list-group" style="font-size: 14px; max-width: 250px;">
                    {% for species in sorted_species %}
                        <li class="list-group-item"><i>{{ species.name }}</i></li>
                    {% endfor %}
                </ul>
            <br>
            <br>
            {% endif %}


            <!-- Substrate -->
            {% if sorted_substrate %}
            <h5>Substrate</h5>
                <ul class="list-group" style="font-size: 14px; max-width: 250px;">
                    {% for substrate in sorted_substrate %}
                        <li class="list-group-item"><i>{{ substrate.name }}</i></li>
                    {% endfor %}
                </ul>
            <br>
            <br>
            {% endif %}
        {% endif %}


        <!-- Info -->
        {% if article.doi or article.topic.all or article.method.all %}
        <h5>Info</h5>
            <!-- Topic(s) -->
            {% if article.topic.all %}
                {% with article.topic.all|length as topic_count %}
                    {% if topic_count == 1 %}
                        Topic: 
                    {% else %}
                        Topics: 
                    {% endif %}
                    {% for topic in article.topic.all %}
                        <span class="badge rounded-pill bg-secondary">{{ topic.name }}</span>
                    {% endfor %}
                    <br>
                {% endwith %}
            {% endif %}
            
            <!-- Method(s) -->
            {% if article.method.all %}
                {% with article.method.all|length as method_count %}
                    {% if method_count == 1 %}
                        Method: 
                    {% else %}
                        Methods: 
                    {% endif %}
                    {% for method in article.method.all %}
                        <span class="badge rounded-pill bg-{{ method.name }}">{{ method.name }}</span>
                    {% endfor %}
                    <br>
                {% endwith %}
            {% endif %}

            <!-- DOI -->
            {% if article.doi %}
                <a href="{{ article.doi }}" data-bs-toggle="tooltip" data-bs-title="{{ article.doi }}">{{ article.doi }}</a>
                <br>
            {% endif %}
        {% endif %}
        <br>
        <br>

    </div>
</div>

{% endblock %}
