{% extends 'fungalmaterials/base.html' %}
{% block content %}
{% load static %}
    
    <br>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3" style="width: 500px;">
            <div class="input-group">
                {{ form.doi }}
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    {% if form.errors %}
        <div style="color: red;">
            <p>There was an error with your submission:</p>
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ errors }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}