{% extends 'fungalmaterials/base.html' %}
{% block content %}
{% load static %}
{% load month_name %}

<style>
	#about-container {
			text-align: justify;
			margin: auto;
		}
	/* For screens below 540px */
	@media screen and (max-width: 540px) {
		#about-container {
			max-width: 650px;
		}
		.column-container span {
			width: 100%;
		}
	}
	/* For screens between 541px and 992px */
	@media screen and (min-width: 541px) and (max-width: 992px) {
		#about-container {
			max-width: 650px;
		}
		.column-container span {
			width: 50%;
		}
	}
	/* For screens above 992px */
	@media screen and (min-width: 992px) {
		#about-container {
			max-width: 900px;
		}
		.column-container span {
			width: 33.33%;
		}
	}
	#confirm-form {
		margin: 0 auto; 
		text-align: center;
	}
</style>

<div id="about-container">

  <!-- DOI DATA -->
	<table class="table mt-5">
	  <tbody>
		<tr>
		  <th></th>
		  <td></td>
		</tr>

		<!-- TITLE -->
		{% if doi_preview.message.title %}
		<tr>
		  <th scope="row">Title</th>
		  <td>{{ doi_preview.message.title.0 }}</td>
		</tr>
		{% endif %}

		<!-- DATE -->
		{% if doi_preview.message.published %}
		<tr>
		  <th scope="row">Date</th>
		  <td>
		  {% for key, value in doi_preview.message.published.items %}   
			{% for item in value %}
			  {% if item.2 %}{{ item.2 }}{% endif %}
			  {% if item.1 %}{{ item.1|month_name }}{% endif %}
			  {% if item.0 %}{{ item.0 }}{% endif %}
			{% endfor %}
		  {% endfor %}
		  </td>
		</tr>
		{% endif %}

		<!-- AUTHOR(S) -->
		{% if doi_preview.message.author %}
		<tr>
		  <th scope="row">
			{% if doi_preview.message.author|length == 1 %}
			  Author
			{% else %}
			  Authors
			{% endif %}
		  </th>
		  <td>
			<!-- {{ doi_preview.message.author }} -->
			{% for author in doi_preview.message.author %}
				{{ author.given }} {{ author.family }}<br>
			{% endfor %}
		  </td>
		</tr>
		{% endif %}

		<!-- ABSTRACT -->
		{% if abstract_text %}
		<tr>
		  <th scope="row">Abstract</th>
		  <td style="text-align: justify;">{{ abstract_text }}</td>
		</tr>
		{% endif %}

	  </tbody>
	</table>

  <!-- FORM -->
  <div id="confirm-form">
	<form action="{% url 'doi_import' %}" method="post">
		{% csrf_token %}
		{{ form.doi.as_hidden }}
		<button type="submit" class="btn btn-primary">Confirm Import</button>
	</form>

	{% if form.errors %}
		<div style="color: red;">
			<p>There was an error with your submission:</p>
			<ul>
				{% for field, errors in form.errors.items %}
					<li>{{ errors }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
  </div>
</div>

{% endblock %}