{% extends 'fungalmaterials/base.html' %}
{% block content %}
{% load static %}

<style>
    #about-container {
        text-align: justify;
        margin: auto;
    }
    /* For screens below 540px */
    @media screen and (max-width: 540px) {
        #about-container {
            max-width: 650px;
        }
        .column-container span {
            width: 100%;
        }
        #search-form {
            margin: 0 auto; 
            width: 100%;
        }
    }
    /* For screens between 541px and 992px */
    @media screen and (min-width: 541px) and (max-width: 992px) {
        #about-container {
            max-width: 650px;
        }
        .column-container span {
            width: 50%;
        }
        #search-form {
            margin: 0 auto; 
            width: 500px;
        }
    }
    /* For screens above 992px */
    @media screen and (min-width: 992px) {
        #about-container {
            max-width: 800px;
        }
        .column-container span {
            width: 33.33%;
        }
        #search-form {
            margin: 0 auto; 
            width: 500px;
        }
    }
</style>

<div id="about-container">
    <div class="mt-5">
        <br>

        Import {{ doi_id }} completed <i class="bi bi-emoji-smile"></i>

        <br>
        <br>

        To add more or change information go to <a href="/admin/">admin</a>
    </div>
</div>

{% endblock %}