{% extends 'fungalmaterials/base.html' %}
{% block content %}
{% load static %}

<style>
	
</style>

<title>Reviews | Fungalmaterials</title>

<meta name="description" content="Database of fungal material references">

<div class="row" style="margin-bottom: 10px;">
	<div class="col-12">
        <h4>A list of fungal material reviews</h4>
    </div>
</div>


<div class="row">
  <!-- SEARCH -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-8">
    <input id="searchbar" type="text" name="search" placeholder="Search for keyword.." value="">
  </div>
</div>

<!-- GREY BAR -->
<div id=grey-bar></div>

<!-- DATATABLE -->
<table id="table_id" class="responsive" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th class="desktop large-only">First author</th>
      <th class="desktop large-only">Year</th>
      <th class="desktop tablet-l">Topic</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  const dataSourceUrl = "/reviews/search";
  const searchTableHandler = function(e) {
      $('#table_id').DataTable().search($('#searchbar').val() || "").draw();
  };

  $(document).ready(function() {
    $('#table_id').DataTable({
      ajax: dataSourceUrl,
      serverSide: true,
      responsive: {
        details: false
      },
      autoWidth: false,               // Disable automatic column width calculation
      info: false,                    // Hide number of entries
      lengthChange: false,            // Hide length of entries
      pageLength: 125,                // Number of items per page, requires also changes in views.py

      // Hide pagination buttons if there are less than 125 reviews
      drawCallback: function(settings) {
          let api = this.api();
          let recordsDisplay = api.page.info().recordsDisplay;
          let pagination = $(this).closest('.dt-container').find('.dt-paging');
          
          // Hide pagination if the number of records is less than or equal to 124
          if (recordsDisplay <= 124) {
              pagination.hide();
          } else {
              pagination.show();
          }
      },

      columns: [
        { "data": "title",
          "render": function ( data, type, row ) {
            let max_name_length = 45;
            if(data && data.length > max_name_length){
            return data.slice(0, max_name_length) + "..."}
          return data; }
        },
        { "data": "authors" },
        { "data": "year" },
        { "data": "topic", 
          "render": function ( data, type, row ) {
            let maxTopics = 3;
            let displayedTopics = data.slice(0, maxTopics).map(function(topic) {
              return '<span class="badge rounded-pill bg-secondary">' + topic + '</span>';
            }).join(' ');
            if (data.length > maxTopics) {
              displayedTopics += ' ...';
            }
            return displayedTopics;
          }
        },
        { "data": "pk", 
          "render": function ( data, type, row ) {
            return '<a href="/reviews/' + data + '">More info</a>'; }
        },
      ],
      createdRow: function (row, data, index) {             // To make row double clickable
        $(row).addClass('review-row');
      },
      columnDefs: [
        { "width": "auto", "targets": [0] },
        { "width": "175px", "targets": [1], "orderable": false },
        { "width": "75px", "targets": [2] },
        { "width": "225px", "targets": [3], "orderable": false },
        { "width": "90px", "targets": -1, className: "dt-right", "orderable": false }
      ],
      language: {
        paginate: {"previous": "Previous", "next": "Next"},                     // Change name of button
        zeroRecords: 'No results found <i class="bi bi-emoji-neutral"></i>',    // Text when 0 items
      },
    });
  });

  $('#searchbar').on("input", $.debounce(250, searchTableHandler)); // Searchbar

  $('#table_id tbody').on('dblclick', '.review-row', function () { // Doubleclick on row
    window.location.href = $(this).find('a').attr('href');
  });

  // When the page event gets triggered, scroll back to top
  $('#table_id').on('page.dt', function () {
      $('html, body').animate({scrollTop: 0}, 800);
  });
</script>

<br>
<br>

{% endblock %}