{% extends 'fungalmaterials/base.html' %}
{% block content %}
    {% load static %}

    <style>

        div.dtsp-verticalContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes,
        div.dtsp-verticalContainer div.container {
            width: 30%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 0;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 26%;
        }

        div.dtsp-verticalPanes {
            margin-right: 0px;
        }

        div.dtsp-title {
            margin-right: 0px !important;
            margin-top: 13px !important;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes {
            flex-direction: column;
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes div.dtsp-searchPane {
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.container {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 60%;
        }

        /* Off to have no border around vertical panes */
        /* div.dtsp-panesContainer {        
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px !important;
            background-color: #DCDCDC;
        }*/

        /* For some reason only this button needs 3px margin-left to be inline with the other buttons (clear all and show all) */
        .dtsp-collapseAll {
            margin-left: 3px;
        }

        /* Hide dtsp-title */
        /* Showed "Filters Active - 0" */
        .dtsp-title {
            display: None;
        }

        div.dtsp-titleRow {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        div.dtsp-titleRow div.dtsp-title {
            margin-top: 0 !important;
            padding-top: 0;
        }

        html.dark div.dtsp-panesContainer {
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    </style>

    <title>Species | Fungalmaterials</title>

    <meta name="description" content="Database of fungal material references">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-12">
            <h4>A list of species</h4>
        </div>
    </div>

    <div class="row">
        <!-- SEARCH -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-8">
            <input id="searchbar" type="text" name="search" placeholder="Search for keyword.." value="">
        </div>
    </div>

    <!-- GREY BAR -->
    <div id=grey-bar></div>
    <div class="row">
        <div class="col-lg-3 order-lg-first" style="margin-bottom: 15px;">
            <div class="dtsp-verticalPanes"></div>
        </div>

        <div class="col-lg-9 order-lg-last">
            <!-- DATATABLE -->
            <table id="table_id" class="responsive" style="width:100%;">
                <thead>
                <tr>
                    <th>Species</th>
                    <th>Treatment</th>
                    <th class="desktop large-only">Topic</th>
                    <th class="desktop large-only">Method</th>
                    <th>Article</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <script>
        const dataSourceUrl = "/species/search";
        const searchTableHandler = function (e) {
            $('#table_id').DataTable().search($('#searchbar').val() || "").draw();
        };

        $(document).ready(function () {
            let table = $('#table_id').DataTable({
                ajax: {
                    "url": dataSourceUrl,
                    "contentType": "application/json",
                    "type": "POST",
                    "dataType": "json"
                },
                serverSide: true,
                responsive: {
                    details: false
                },
                layout: {
                    topStart: null,             // Hide default DataTable search bar
                    topEnd: null,
                    bottomStart: null,
                    bottomEnd: null,
                    bottom: 'paging'            // Pagination centered
                  },
                autoWidth: false,               // Disable automatic column width calculation
                info: false,                    // Hide number of entries
                lengthChange: false,            // Hide length of entries
                pageLength: 125,                // Number of items per page, requires also changes in views.py

                // Hide pagination buttons if there are less than 125 species
                drawCallback: function (settings) {
                    let api = this.api();
                    let recordsDisplay = api.page.info().recordsDisplay;
                    let pagination = $(this).closest('.dt-container').find('.dt-paging');

                    // Hide pagination if the number of records is less than or equal to 124
                    if (recordsDisplay <= 124) {
                        pagination.hide();
                    } else {
                        pagination.show();
                    }
                },

                searchPanes: {
                    layout: 'columns-1'
                },

                columns: [
                    {
                        "data": "species",
                        "render": function (data, type, row) {
                            if (data) {
                                return `<i>${data}</i>`;  // Wrap the species name in <i> tags
                            }
                        }
                    },
                    {"data": "treatment"},
                    {
                        "data": "topic",
                        "render": function (data, type, row) {
                            if (data) {
                                return data.map(function (topic) {
                                    return '<span class="badge rounded-pill bg-secondary">' + topic + '</span>';
                                }).join(' ');

                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "method",
                        "render": function (data, type, row) {
                            return data.map(function (method) {
                                return '<span class="badge rounded-pill bg-' + method.name + '">' + method.name + '</span>';
                            }).join(' ');
                        }
                    },
                    {
                        "data": "article_reference",
                        "render": function (data, type, row) {
                            // Use article_reference as the link text, and article_id in the URL
                            return '<a href="/articles/' + row.article_id + '" style="font-size: 13px;">' + data + '</a>';
                        }
                    },
                ],
                createdRow: function (row, data, index) {             // To make row double clickable
                    $(row).addClass('species-row');
                },
                columnDefs: [
                    {"width": "auto", "targets": [0]},
                    {"width": "auto", "targets": [1], "searchable": false, "orderable": false},
                    {"width": "auto", "targets": [2], "searchable": false, "orderable": false},
                    {"width": "auto", "targets": [3], "searchable": false, "orderable": false},
                    {"width": "auto", "targets": [4], "searchable": false, "orderable": false},
                    {"width": "8px", "targets": -1, className: "dt-right", "searchable": false, "orderable": false}
                ],
                language: {
                    paginate: {"previous": "Previous", "next": "Next"},                     // Change name of button
                    zeroRecords: 'No results found <i class="bi bi-emoji-neutral"></i>',    // Text when 0 items
                },
            });

            document.querySelector('div.dtsp-verticalPanes').appendChild(table.searchPanes.container().get(0));

        });

        $('#searchbar').on("input", $.debounce(250, searchTableHandler)); // Searchbar

        $('#table_id tbody').on('dblclick', '.species-row', function () { // Doubleclick on row
            window.location.href = $(this).find('a').attr('href');
        });

        // When the page event gets triggered, scroll back to top
        $('#table_id').on('page.dt', function () {
            $('html, body').animate({scrollTop: 0}, 800);
        });

    </script>

    <br>
    <br>

{% endblock %}